<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>

	<body id="page-top">
		<%- include('./partials/navbar'); %>

		<!-- Page Wrapper -->
		<div id="wrapper">
			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">
				<!-- Main Content -->
				<div id="content">
					<!-- Begin Page Content -->
					<div class="container-fluid">
						<!-- Page Heading -->
						<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-2">
							<h2 class="mb-0 text-white-800">Welcome, Admin!</h2>
						</div>

						<!-- Content Row -->
						<div class="row">
							<div class="col">
								<div class="row">
									<!-- No. of pets this month Card -->
									<div class="col-xl-12 col-md-12 mb-4">
										<div class="card border-left-primary shadow h-100 py-4">
											<div class="card-body">
												<div class="row no-gutters align-items-center">
													<div class="col mr-2">
														<div class="text-s font-weight-bold text-primary text-uppercase mb-2">Pets taken care of this month</div>
														<div class="h1 mb-0 font-weight-bold text-gray-800"><%= monthly_job[0].count %></div>
													</div>
													<div class="col-auto">
														<i class="fas fa-dog"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-12 col-md-12 mb-4">
										<div class="card border-left-primary shadow h-100 py-4">
											<div class="card-body">
												<div class="row no-gutters align-items-center">
													<div class="col mr-2">
														<div class="text-s font-weight-bold text-primary text-uppercase mb-2">Salary to pay this month</div>
														<div class="h1 mb-0 font-weight-bold text-gray-800">
															<%= parseInt(monthly_salary[0].sum).toLocaleString('en-US', { style: 'currency', currency: 'USD' }); %>
														</div>
													</div>
													<div class="col-auto">
														<i class="fas fa-dollar-sign"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Chart -->
							<div class="col-xl-8 col-lg-8">
								<div class="card shadow mb-4">
									<!-- Card Header - Dropdown -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary">Top 10 Care Takers of the month</h6>
									</div>
									<!-- Card Body -->
									<div class="card-body">
										<div class="chart-area">
											<canvas id="topCareTakers"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xl-4 col-lg-4">
								<!-- Caretaker card -->
								<div class="mb-4">
									<div class="card border-left-success shadow h-100 py-3">
										<a href="/admin-user-profiles">
											<div class="card-body">
												<div class="row no-gutters align-items-center">
													<div class="col mr-2">
														<div class="h4 mb-0 font-weight-bold text-gray-800">Users</div>
													</div>
													<div class="col-auto">
														<i class="fas fa-caret-right fa-2x"></i>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>

								<!-- Jobs card -->
								<div class="mb-4">
									<div class="card border-left-success shadow h-100 py-3">
										<a href="/admin-jobs">
											<div class="card-body">
												<div class="row no-gutters align-items-center">
													<div class="col mr-2">
														<div class="h4 mb-0 font-weight-bold text-gray-800">Jobs</div>
													</div>
													<div class="col-auto">
														<i class="fas fa-caret-right fa-2x"></i>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>

								<!-- Admin card -->
								<div class="mb-4">
									<div class="card border-left-success shadow h-100 py-3">
										<a href="/admin-profiles">
											<div class="card-body">
												<div class="row no-gutters align-items-center">
													<div class="col mr-2">
														<div class="h4 mb-0 font-weight-bold text-gray-800">Admins</div>
													</div>
													<div class="col-auto">
														<i class="fas fa-caret-right fa-2x"></i>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>

							<!-- Chart -->
							<div class="col-xl-8 col-lg-8">
								<div class="card shadow mb-4">
									<!-- Card Header - Dropdown -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary">Monthly performance</h6>
									</div>
									<!-- Card Body -->
									<div class="card-body">
										<div class="chart-area" id="performance">
											<canvas id="monthlyPerf"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xl-12 col-lg-12">
								<div class="card shadow mb-4">
									<!-- Card Header - Dropdown -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
										<h6 class="m-0 font-weight-bold text-primary">Underperforming Caretakers this month</h6>
									</div>
									<!-- Card Body -->
									<div class="card-body">
										<table class="table table-bordered table-hover">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">Username</th>
													<th scope="col">No. of pet days this month</th>
													<th scope="col">Average ratings</th>
													<th scope="col">Amount earned this month</th>
												</tr>
											</thead>
											<tbody>
												<% for(var i=0; i < underperformingCt.length; i++) { %>
												<tr onclick="window.location='/admin-user-profile?username=<%= underperformingCt[i].username%>';" class="pointer">
													<td><%= i+1%></td>
													<td><%= underperformingCt[i].username%></td>
													<td><%= underperformingCt[i].petdays%></td>
													<td><%= underperformingCt[i].rating%></td>
													<td><%= underperformingCt[i].amountearned%></td>
												</tr>
												<% } %>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<!-- <div class="col-xl-4 col-md-6 mb-4">
								<div class="card border-left-info shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div
													class="text-xs font-weight-bold text-info text-uppercase mb-1"
												>
													Tasks
												</div>
												<div class="row no-gutters align-items-center">
													<div class="col-auto">
														<div
															class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
														>
															50%
														</div>
													</div>
													<div class="col">
														<div class="progress progress-sm mr-2">
															<div
																class="progress-bar bg-info"
																role="progressbar"
																style="width: 50%"
																aria-valuenow="50"
																aria-valuemin="0"
																aria-valuemax="100"
															></div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-auto">
												<i
													class="fas fa-clipboard-list fa-2x text-gray-300"
												></i>
											</div>
										</div>
									</div>
								</div>
                            </div> -->
					</div>

					<!-- /.container-fluid -->
				</div>
				<!-- End of Main Content -->
			</div>
			<!-- End of Content Wrapper -->
		</div>
		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fas fa-angle-up"></i>
		</a>

		<!-- Custom scripts for all pages-->
		<script src="javascripts/script.js"></script>

		<script>
			function number_format(number, decimals, dec_point, thousands_sep) {
			    // *     example: number_format(1234.56, 2, ',', ' ');
			    // *     return: '1 234,56'
			    number = (number + "").replace(",", "").replace(" ", "");
			    var n = !isFinite(+number) ? 0 : +number,
			        prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
			        sep = typeof thousands_sep === "undefined" ? "," : thousands_sep,
			        dec = typeof dec_point === "undefined" ? "." : dec_point,
			        s = "",
			        toFixedFix = function (n, prec) {
			            var k = Math.pow(10, prec);
			            return "" + Math.round(n * k) / k;
			        };
			    // Fix for IE parseFloat(0.55).toFixed(0) = 0;
			    s = (prec ? toFixedFix(n, prec) : "" + Math.round(n)).split(".");
			    if (s[0].length > 3) {
			        s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
			    }
			    if ((s[1] || "").length < prec) {
			        s[1] = s[1] || "";
			        s[1] += new Array(prec - s[1].length + 1).join("0");
			    }
			    return s.join(dec);
			}

			// Top Care Takers chart
			var ctx = document.getElementById("topCareTakers");
			var myLineChart = new Chart(ctx, {
			    type: "bar",
			    data: {
			        labels: <%- JSON.stringify(username); %>,
			        datasets: [
			            {
			                label: "Performance",
			                lineTension: 0.3,
			                backgroundColor: [
			                    "rgba(255, 99, 132, 0.2)",
			                    "rgba(255, 159, 64, 0.2)",
			                    "rgba(255, 205, 86, 0.2)",
			                    "rgba(75, 192, 192, 0.2)",
			                    "rgba(54, 162, 235, 0.2)",
			                    "rgba(153, 102, 255, 0.2)",
			                    "rgba(201, 203, 207, 0.2)",
			                    "rgba(255, 99, 132, 0.2)",
			                    "rgba(255, 159, 64, 0.2)",
			                    "rgba(255, 205, 86, 0.2)"
			                ],
			                borderColor: [
			                    "rgb(255, 99, 132)",
			                    "rgb(255, 159, 64)",
			                    "rgb(255, 205, 86)",
			                    "rgb(75, 192, 192)",
			                    "rgb(54, 162, 235)",
			                    "rgb(153, 102, 255)",
			                    "rgb(201, 203, 207)",
			                    "rgb(255, 99, 132)",
			                    "rgb(255, 159, 64)",
			                    "rgb(255, 205, 86)"
			                ],
			                borderWidth: 1,
			                pointRadius: 3,
			                pointBackgroundColor: "rgba(78, 115, 223, 1)",
			                pointBorderColor: "rgba(78, 115, 223, 1)",
			                pointHoverRadius: 3,
			                pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
			                pointHoverBorderColor: "rgba(78, 115, 223, 1)",
			                pointHitRadius: 10,
			                pointBorderWidth: 2,
			                data: <%- JSON.stringify(totalAmount); %>
			            }
			        ]
			    },
			    options: {
			        responsive: true,
			        maintainAspectRatio: false,
			        layout: {
			            padding: {
			                left: 15,
			                right: 25,
			                top: 25,
			                bottom: 0
			            }
			        },
			        scales: {
			            xAxes: [
			                {
			                    gridLines: {
			                        display: false,
			                        drawBorder: false
			                    },
			                    ticks: {
			                        maxTicksLimit: 10
			                    }
			                }
			            ],
			            yAxes: [
			                {
			                    ticks: {
			                        maxTicksLimit: 7,
			                                 padding: 10,
			                                 // Include a dollar sign in the ticks
			                                 callback: function(value, index, values) {
			                                     return '$' + number_format(value);
			                                 }
			                    },
			                    gridLines: {
			                        color: "rgb(234, 236, 244)",
			                        zeroLineColor: "rgb(234, 236, 244)",
			                        drawBorder: false,
			                        borderDash: [2],
			                        zeroLineBorderDash: [2]
			                    }
			                }
			            ]
			        },
			        legend: {
			            display: false
			        },
			        tooltips: {
			            backgroundColor: "rgb(255,255,255)",
			            bodyFontColor: "#858796",
			            titleMarginBottom: 8,
			            titleFontColor: "#6e707e",
			            titleFontSize: 14,
			            borderColor: "#dddfeb",
			            borderWidth: 1,
			            xPadding: 12,
			            yPadding: 12,
			            displayColors: false,
			            intersect: false,
			            mode: "index",
			            caretPadding: 10,
			            callbacks: {
			                label: function (tooltipItem, chart) {
			                    return '$' + number_format(tooltipItem.yLabel);;
			                }
			            }
			        }
			    }
			         });

			// Monthly perf chart
			var ctx = document.getElementById("monthlyPerf");
			var myLineChart = new Chart(ctx, {
			    type: "bar",
			    data: {
			        labels: <%- JSON.stringify(month); %>,
			        datasets: [
			            {
			                label: "Performance",
			                lineTension: 0.3,
			                backgroundColor: [
			                    "rgba(255, 99, 132, 0.2)",
			                    "rgba(255, 159, 64, 0.2)",
			                    "rgba(255, 205, 86, 0.2)",
			                    "rgba(75, 192, 192, 0.2)",
			                    "rgba(54, 162, 235, 0.2)",
			                    "rgba(153, 102, 255, 0.2)",
			                    "rgba(201, 203, 207, 0.2)",
			                    "rgba(255, 99, 132, 0.2)",
			                    "rgba(255, 159, 64, 0.2)",
			                    "rgba(255, 205, 86, 0.2)"
			                ],
			                borderColor: [
			                    "rgb(255, 99, 132)",
			                    "rgb(255, 159, 64)",
			                    "rgb(255, 205, 86)",
			                    "rgb(75, 192, 192)",
			                    "rgb(54, 162, 235)",
			                    "rgb(153, 102, 255)",
			                    "rgb(201, 203, 207)",
			                    "rgb(255, 99, 132)",
			                    "rgb(255, 159, 64)",
			                    "rgb(255, 205, 86)"
			                ],
			                borderWidth: 1,
			                pointRadius: 3,
			                pointBackgroundColor: "rgba(78, 115, 223, 1)",
			                pointBorderColor: "rgba(78, 115, 223, 1)",
			                pointHoverRadius: 3,
			                pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
			                pointHoverBorderColor: "rgba(78, 115, 223, 1)",
			                pointHitRadius: 10,
			                pointBorderWidth: 2,
			                data: <%- JSON.stringify(amountpaid); %>
			            }
			        ]
			    },
			    options: {
			        responsive: true,
			        maintainAspectRatio: false,
			        layout: {
			            padding: {
			                left: 15,
			                right: 25,
			                top: 25,
			                bottom: 0
			            }
			        },
			        scales: {
			            xAxes: [
			                {
			                    time: {
			                        unit: "date"
			                    },
			                    gridLines: {
			                        display: false,
			                        drawBorder: false
			                    },
			                    ticks: {
			                        maxTicksLimit: 12
			                    }
			                }
			            ],
			            yAxes: [
			                {
			                    ticks: {
			                        maxTicksLimit: 7,
			                        padding: 10,
			                                 // Include a dollar sign in the ticks
			                                 callback: function(value, index, values) {
			                                     return '$' + number_format(value);
			                                 }
			                    },
			                    gridLines: {
			                        color: "rgb(234, 236, 244)",
			                        zeroLineColor: "rgb(234, 236, 244)",
			                        drawBorder: false,
			                        borderDash: [2],
			                        zeroLineBorderDash: [2]
			                    }
			                }
			            ]
			        },
			        legend: {
			            display: false
			        },
			        tooltips: {
			            backgroundColor: "rgb(255,255,255)",
			            bodyFontColor: "#858796",
			            titleMarginBottom: 8,
			            titleFontColor: "#6e707e",
			            titleFontSize: 14,
			            borderColor: "#dddfeb",
			            borderWidth: 1,
			            xPadding: 12,
			            yPadding: 12,
			            displayColors: false,
			            intersect: false,
			            mode: "index",
			            caretPadding: 10,
			            callbacks: {
			                label: function (tooltipItem, chart) {
			                    return '$' + number_format(tooltipItem.yLabel);;
			                }
			            }
			        }
			    }
			});
		</script>
	</body>
</html>
