<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>

	<body id="page-top">
		<%- include('./partials/navbar'); %>
		<div class="container rounded bg-white pl-5 pr-5 pt-5 pb-5">
			<div class="d-flex justify-content-between row">
				<h1 class="mb-4">User Profile: <%= data[0].username %></h1>
				<% if (iscaretaker) { %>
				<div class="d-flex align-items-center">
					<button onclick="window.location='/admin-caretaker-reviews?username=<%= data[0].username%>';" class="btn btn-primary py-2 mr-2">View Reviews</button>
					<button onclick="window.location='/admin-caretaker-salary?username=<%= data[0].username%>';" class="btn btn-primary py-2">Salary details</button>
				</div>
				<% } %>
			</div>
			<div class="mb-4">
				<h5 style="font-weight: bold">Personal Information</h5>
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th scope="col">Username</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Gender</th>
							<th scope="col">Address</th>
							<th scope="col">Date of Birth</th>
							<th scope="col">Caretaker</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= data[0].username%></td>
							<td><%= data[0].name%></td>
							<td><%= data[0].email%></td>
							<td><%= data[0].gender%></td>
							<td><%= data[0].address%></td>
							<td><%= data[0].dateofbirth.toLocaleDateString("en-US")%></td>
							<% if (isFulltime) { %>
							<td>Full Time</td>
							<% } else if (isParttime) { %>
							<td>Part Time</td>
							<% } else { %>
							<td>-</td>
							<% } %>
						</tr>
					</tbody>
				</table>
			</div>

			<% if (isPetowner) { %>
			<div class="mb-4">
				<h5 style="font-weight: bold">Pets</h5>
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Gender</th>
							<th scope="col">Date of Birth</th>
							<th scope="col">Description</th>
							<th scope="col">Special requests</th>
							<th scope="col">Personality</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i < pets.length; i++) { %>
						<tr>
							<td><%= i+1%></td>
							<td><%= pets[i].name%></td>
							<td><%= pets[i].gender%></td>
							<td><%= pets[i].dateofbirth.toLocaleDateString("en-US")%></td>
							<td><%= pets[i].description%></td>
							<td><%= pets[i].specialreqs%></td>
							<td><%= pets[i].personality%></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<% } %> <% if (iscaretaker) { %>
			<div class="mb-4">
				<h5 style="font-weight: bold">Caretaker Information</h5>
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<% if (isFulltime) { %>
							<!-- <th scope="col">No. of leaves left</th> -->
							<th scope="col">No. of leaves taken</th>
							<% } %>
							<th scope="col">No. of pet days this year</th>
							<th scope="col">No. of pet days this month</th>
							<th scope="col">Amount earned this month</th>
							<th scope="col">Salary to be paid this month</th>
							<!-- <th scope="col">Average ratings</th> -->
						</tr>
					</thead>
					<tbody>
						<tr>
							<% if (isFulltime) { %>
							<td><%= caretaker_leaves %></td>
							<% } %>
							<td><%= yearly_petdays%></td>
							<td><%= monthly_petdays%></td>
							<td>$<%= monthly_amount%></td>
							<td>$<%= caretaker_salary%></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="mb-4">
				<h5 style="font-weight: bold">Caretaker Pet Categories</h5>
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Pet Category</th>
							<th scope="col">Daily Price</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i < caretaker_category.length; i++) { %>
						<tr>
							<td><%= i+1%></td>
							<td><%= caretaker_category[i].category%></td>
							<td>$<%= caretaker_category[i].price%></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<% } %>
		</div>
	</body>
</html>
