<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>

	<body id="page-top">
		<%- include('./partials/navbar'); %>
		<div class="jumbotron bg-white">
			<div class="d-flex justify-content-between row mx-2">
				<h1 class="mb-4">Job Detail</h1>
				<div class="d-flex align-items-center">
					<button onclick="window.location='/admin-user-profile?username=<%= data[0].ctusername%>';" class="btn btn-primary py-2 mr-2">View Caretaker profile</button>
					<button onclick="window.location='/admin-user-profile?username=<%= data[0].pousername%>';" class="btn btn-primary py-2">View Pet owner profile</button>
				</div>
			</div>
			<% if (data) { %>
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th scope="col">Caretaker username</th>
						<th scope="col">Pet owner username</th>
						<th scope="col">Pet name</th>
						<th scope="col">Start Date</th>
						<th scope="col">End Date</th>
						<th scope="col">Request Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= data[0].ctusername%></td>
						<td><%= data[0].pousername%></td>
						<td><%= data[0].petname%></td>
						<td><%= data[0].startdate.toLocaleDateString("en-US")%></td>
						<td><%= data[0].enddate.toLocaleDateString("en-US")%></td>
						<td><%= data[0].requestdate.toLocaleDateString("en-US")%></td>
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th scope="col">Rating</th>
						<th scope="col">Review</th>
						<th scope="col">Status</th>
						<th scope="col">Amount paid</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= data[0].rating%></td>
						<td><%= data[0].review%></td>
						<td><%= data[0].status%></td>
						<td><%= data[0].amountpaid%></td>
					</tr>
				</tbody>
			</table>
			<% } else { %>
			<p class="ml-2 text-danger">No job information</p>
			<% } %>
		</div>
	</body>
</html>
