<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>

	<body id="page-top">
		<%- include('./partials/navbar'); %>
		<div class="jumbotron bg-white">
			<div class="d-flex justify-content-between row mx-2">
				<h1 class="mb-4">Jobs</h1>
				<div class="d-flex align-items-center">
					<form method="post">
						<select class="form-control" name="filter" id="filter" onchange="this.form.submit();">
							<% const options = ["All", "Pending", "Confirmed", "Done", "Cancelled"]; 
							
							for (var i = 0; i < options.length; i++) { 
								const selected = (selectedValue == options[i].toUpperCase()) ? "selected" : "";
							%>
								<option value="<%=options[i] %>" <%= selected %>><%= options[i] %></option>
							<% } %>
						</select>
					</form>
				</div>
			</div>
			<% if (data) { %>
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Caretaker username</th>
						<th scope="col">Pet owner username</th>
						<th scope="col">Pet name</th>
						<th scope="col">Start Date</th>
						<th scope="col">End Date</th>
						<th scope="col">Request Date</th>
						<th scope="col">Status</th>
						<th scope="col">Rating</th>
						<th scope="col">Amount paid</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i < data.length; i++) { %>
					<tr
						onclick="window.location='/admin-job?ctusername=<%= data[i].ctusername%>&amp;pousername=<%= data[i].pousername%>&amp;petname=<%= data[i].petname%>&amp;startdate=<%= data[i].startdate%>';"
						class="pointer"
					>

						<td><%= i+1%></td>
						<td><%= data[i].ctusername%></td>
						<td><%= data[i].pousername%></td>
						<td><%= data[i].petname%></td>
						<td><%= data[i].startdate.toLocaleDateString("en-SG")%></td>
						<td><%= data[i].enddate.toLocaleDateString("en-SG")%></td>
						<td><%= data[i].requestdate.toLocaleDateString("en-SG")%></td>
						<td><%= data[i].status%></td>
						<td><%= data[i].rating%></td>
						<td><%= data[i].amountpaid%></td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<% } else { %>
			<p class="ml-2 text-danger">No jobs</p>
			<% } %>
		</div>
	</body>
</html>
