<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>

	<body id="page-top">
		<%- include('./partials/navbar'); %>
		<div class="jumbotron bg-white">
			<h1>Administrators</h1>
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Username</th>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col">Join Date</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i < data.length; i++) { %>
					<tr
						onclick="window.location='/adminProfile?username=<%= data[i].username%>';"
						class="pointer"
					>
						<td><%= i+1%></td>
						<td><%= data[i].username%></td>
						<td><%= data[i].name%></td>
						<td><%= data[i].email%></td>
						<td><%= data[i].joindate.toLocaleDateString("en-US")%></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</body>
</html>
