<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/stylesheets/profile.css" />
	<%- include('./partials/head'); %>
	<script src="javascripts/leaveScript.js">
	</script>
</head>

<body>
	<%- include('./partials/navbar'); %>
	<%- include('./partials/caretaker-navbar'); %>
	<main>
		<div class="jumbotron">
			<h1 class="display-1">Caretaker Leave Dates</h1>
			<h1 class="display-4"><%= details[0].username %></h1>
			<br />
			<% if (isFulltime) { %>
			<form id="form1" action="apply-leave" role="form" method="post">
				<h4> Apply for leave</h1>
					<div class="d-flex flex-row w-25">
						<input type="date" class="form-control" id="leave" name="leave" required></input>
						<button type="submit" class="btn btn-primary btn-lg ml-2">Apply</button>
					</div>
			</form>
			<br />
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Date</th>
					</tr>
				</thead>
				<% for (var i = 0; i < leaves.length; i++) { %>
				<tr>
					<td scope="row" data-title="Date"><%= leaves[i].leavedate %></td>
					</td>
				</tr>
				<% } %>
			</table>
			<% } else { %>
			<h1> Only full-time caretakers can apply for leaves!</h1>
			<% }%>
		</div>
	</main>
	<script>
		(function () {
			window.addEventListener('load', function () {
				var forms = [document.getElementById('form1')];
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', check, false);
				});
			}, false);
		})();
	</script>
</body>

</html>