<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/stylesheets/profile.css" />
	<%- include('./partials/head'); %>
</head>

<body>
	<%- include('./partials/navbar'); %>
	<main>
		<div class="container rounded bg-white pl-5 pr-5 pt-3 pb-3">
			<div class="d-flex flex-row justify-content-between">
				<h1 class="display-4"><%= username %></h1>
				<div>
					<p align="right"><b>Available from <%= start %> to <%= end %>!</b></p>
					<% let url = "caretaker-bidding?username=" + username + "&category=" + category + "&start=" + start + "&end=" + end;%>
					<form align="right" id="html_form" action="<%= url%>" role="form" method="post">
						<button type="submit" class="btn btn-primary btn-lg lm-auto">Bid for service!</button>
					</form>
				</div>
			</div>
			<br>
			<table class="table">
				<tr class="d-flex">
					<td class="col-2"><b>Name:</b></td>
					<td class="col-4"><%= details[0].name %></td>
				</tr>
				<tr class="d-flex">
					<td class="col-2"><b>Email:</b></td>
					<td class="col-4"><%= details[0].email %></td>
				</tr>
				<tr class="d-flex">
					<td class="col-2"><b>Average rating:</td>
					<td class="col-4"><%= details[0].avgrating %></td>
				</tr>
			</table>
			<br />

			<h1 class="display-5">Pet Categories</h1>
			<% if (petCategories.length == 0) { %>
			<span>
				&lt;empty&gt;
			</span>
			<% } %>
			<ul>
				<% for (var i = 0; i < petCategories.length; i++) { %>
				<li scope="col" data-title="Care Taker">
					<%= petCategories[i].category %>
				</li>
				<% } %>
			</ul>

			<br>

			<h1 class="display-5">Job History</h1>
			<br>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Pet Owner</th>
						<th scope="col">Request Date</th>
						<th scope="col">Start Date</th>
						<th scope="col">End Date</th>
						<th scope="col">Status</th>
						<th scope="col">Rating</th>
						<th scope="col">Review</th>
					</tr>
				</thead>
				<% for (var i = 0; i < reservations.length; i++) { %>
				<tr>
					<td scope="col" data-title="Care Taker">
						<%= reservations[i].pousername %>
					</td>
					<td scope="col" data-title="Request Date">
						<%= reservations[i].requestdate.getDate() %>-<%=
								reservations[i].requestdate.getMonth() %>-<%=
								reservations[i].requestdate.getFullYear() %>
					</td>
					<td scope="col" data-title="Start Date">
						<%= reservations[i].startdate.getDate() %>-<%=
								reservations[i].startdate.getMonth() %>-<%=
								reservations[i].startdate.getFullYear() %>
					</td>
					<td scope="col" data-title="End Date">
						<%= reservations[i].enddate.getDate() %>-<%=
								reservations[i].enddate.getMonth() %>-<%=
								reservations[i].enddate.getFullYear() %>
					</td>
					<td scope="col" data-title="Status"><%= reservations[i].status %></td>
					<td scope="col" data-title="Rating"><%= reservations[i].rating %></td>
					<td scope="col" data-title="Review"><%= reservations[i].review %></td>
				</tr>
				<% } %>
			</table>
	</main>
</body>

</html>