<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head'); %>
</head>

<body>
	<%- include('./partials/navbar'); %>
	<main>
		<div class="jumbotron">
			<h1 class="display-1">Pet Owner Summary</h1>
			<h1 class="display-4"><%= details[0].name %></h1>
			<table class="table">
				<tr>
					<td scope="row"><b>Email:</b> <%= details[0].email %></td>
				</tr>
				<tr>
					<td scope="row"><b>DOB:</b>
						<%= details[0].dateofbirth.getDate() %>-
						<%=	("0" + (details[0].dateofbirth.getMonth() + 1)).slice(-2) %>-
						<%=	details[0].dateofbirth.getFullYear() %>
					</td>
				</tr>
				<tr>
					<td scope="row"><b>Gender:</b> <%= details[0].gender %></td>
				</tr>
				<tr>
					<td scope="row"><b>Address:</b> <%= details[0].address %></td>
				</tr>
				<tr>
					<td scope="row"><b>Join Date:</b>
						<%= details[0].joindate.getDate() %>-<%= 
								("0" + (details[0].joindate.getMonth() + 1)).slice(-2) %>-<%= 
								details[0].joindate.getFullYear() %>
					</td>
				</tr>
			</table>
			<a class="btn btn-primary btn-lg" style="background-color: rgb(29, 28, 28); border-color: rgb(29, 28, 28);"
				href="/petOwner-editProfile" role="button">
				Edit Profile
			</a>
			<br />
			<br />
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Card Number</th>
						<th scope="col">Name</th>
						<th scope="col">CVV</th>
						<th scope="col">Expiry Date</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<% for (var i = 0; i < creditcard.length; i++) { %>
				<tr>
					<td scope="row" data-title="Card Number">
						XXXX XXXX <%= creditcard[i].cardnumber.substring(8,12) %>
						<%= creditcard[i].cardnumber.substring(12,16) %>
					</td>
					<td scope="row" data-title="Name"><%= creditcard[i].nameoncard %></td>
					<td scope="row" data-title="CVV"><%= creditcard[i].cvv %></td>
					<td scope="row" data-title="Expiry Date" date-type="date">
						<%= creditcard[i].expirydate.getDate() %>-<%= 
								("0" + (creditcard[i].expirydate.getMonth() + 1)).slice(-2) %>-<%= 
								creditcard[i].expirydate.getFullYear() %>
					</td>
					<td>
						<!-- <a class="btn"
							style="background-color: rgb(29, 28, 28); border-color: rgb(29, 28, 28); color: white;" role="button">
							X
						</a> -->
					</td>
				</tr>
				<% } %>
			</table>
			<a class="btn btn-primary btn-lg" style="background-color: rgb(29, 28, 28); border-color: rgb(29, 28, 28);"
				href="/petOwner-addCreditCard" role="button">
				Add Credit Card
			</a>

			<br /><br /><br />
			<h1 class="display-5">Pets Information</h1>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th class="th-sm">Pet Name</th>
						<th class="th-sm">Date of Birth</th>
						<th class="th-sm">Gender</th>
						<th class="th-sm">Description</th>
						<th class="th-sm">Special Requirements</th>
						<th class="th-sm">Personality</th>
					</tr>
				</thead>
				<tbody>
					<% for (var i = 0; i < pets.length; i++) { %>
					<tr>
						<td data-title="Pet Name">
							<%= pets[i].name %>
						</td>
						<td data-title="Date of Birth" date-type="date">
							<%= pets[i].dateofbirth.getDate() %>-<%= 
							("0" + (pets[i].dateofbirth.getMonth() + 1)).slice(-2) %>-<%= 
							pets[i].dateofbirth.getFullYear() %>
						</td>
						<td data-title="Gender">
							<%= pets[i].gender %>
						</td>
						<td data-title="Description">
							<%= pets[i].description %>
						</td>
						<td data-title="Special Requirements">
							<%= pets[i].specialreqs %>
						</td>
						<td data-title="Personality">
							<%= pets[i].personality %>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<a class="btn btn-primary btn-lg" style="background-color: rgb(29, 28, 28); border-color: rgb(29, 28, 28);"
				href="/petOwner-addPet" role="button">
				Add Pet
			</a>
			<a class="btn btn-primary btn-lg" style="background-color: rgb(29, 28, 28); border-color: rgb(29, 28, 28);"
				href="/petOwner-deletePet" role="button">
				Delete Pet
			</a>

			<br /><br /><br />
			<h1 class="display-5">Reviews</h1>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th class="th-sm">Care Taker</th>
						<th class="th-sm">Pet Name</th>
						<th class="th-sm">Request Date</th>
						<th class="th-sm">Start Date</th>
						<th class="th-sm">End Date</th>
						<th class="th-sm">Status</th>
						<th class="th-sm">Rating</th>
						<th class="th-sm">Payment Type</th>
						<th class="th-sm">Delivery Type</th>
						<th class="th-sm">Amount Paid</th>
						<th class="th-sm">Review</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% for (var i = 0; i < reservations.length; i++) { %>
					<form id="html_form" action="petOwner-review" role="form" method="post">
						<tr>
							<input
								type="hidden"
								class="form-control"
								id="ctusername"
								name="ctusername"
								value="<%= reservations[i].ctusername %>"
							/>
							<input
								type="hidden"
								class="form-control"
								id="petname"
								name="petname"
								value="<%= reservations[i].petname %>"
							/>
							<input
								type="hidden"
								class="form-control"
								id="startdate"
								name="startdate"
								value="<%= reservations[i].startdate %>"
							/>							
							<td scope="col" data-title="Care Taker">
								<%= reservations[i].ctusername %>
							</td>
							<td scope="col" data-title="Pet Name">
								<%= reservations[i].petname %>
							</td>
							<td scope="col" data-title="Request Date">
								<%= reservations[i].requestdate.getDate() %>-<%=
									("0" + (reservations[i].requestdate.getMonth() + 1)).slice(-2) %>-<%=
									reservations[i].requestdate.getFullYear() %>
							</td>
							<td scope="col" data-title="Start Date">
								<%= reservations[i].startdate.getDate() %>-<%=
									("0" + (reservations[i].startdate.getMonth() + 1)).slice(-2) %>-<%=
									reservations[i].startdate.getFullYear() %>
							</td>
							<td scope="col" data-title="End Date">
								<%= reservations[i].enddate.getDate() %>-<%=
									("0" + (reservations[i].enddate.getMonth() + 1)).slice(-2) %>-<%=
									reservations[i].enddate.getFullYear() %>
							</td>
							<td scope="col" data-title="Status">
								<%= reservations[i].status %>
							</td>
							<td scope="col" data-title="Rating">
								<%= reservations[i].rating == null ? '-' : reservations[i].rating %>
							</td>
							<td scope="col" data-title="Payment Type">
								<%= reservations[i].paymenttype %>
							</td>
							<td scope="col" data-title="Delivery Type">
								<%= reservations[i].deliverytype %>
							</td>
							<td scope="col" data-title="Amount Paid">
								<%= reservations[i].amountpaid %>
							</td>
							<td scope="col" data-title="Review">
								<%= reservations[i].review %>
							</td>
							<td>
								<% if (reservations[i].status === "COMPLETED" && reservations[i].rating == null) { %>
									<button>Review</button>
								<% } %>
							</td>
						</tr>
					</form>
					<% } %>
				</tbody>
			</table>
	</main>
</body>

</html>