<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/stylesheets/profile.css" />
	<%- include('./partials/head'); %>
</head>

<body>
	<%- include('./partials/navbar'); %>
	<main>
		<div class="jumbotron">
			<h1 class="display-1">Pet Owner Summary</h1>
			<h1 class="display-4"><%= details[0].name %></h1>
			<table class="table">
				<tr>
					<td scope="row"><b>Email:</b> <%= details[0].email %></td>
				</tr>
				<tr>
					<td scope="row"><b>DOB:</b>
						<%= details[0].dateofbirth.getDate() %>-
						<%=	details[0].dateofbirth.getMonth() %>-
						<%=	details[0].dateofbirth.getFullYear() %>
					</td>
				</tr>
				<tr>
					<td scope="row"><b>Gender:</b> <%= details[0].gender %></td>
				</tr>
				<tr>
					<td scope="row"><b>Address:</b> <%= details[0].address %></td>
				</tr>
				<tr>
					<td scope="row"><b>Join Date:</b>
						<%= details[0].joindate.getDate() %>-
						<%= details[0].joindate.getMonth() %>-
						<%= details[0].joindate.getFullYear() %>
					</td>
				</tr>
			</table>

			<br/>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Card Number</th>
						<th scope="col">Name</th>
						<th scope="col">CVV</th>
						<th scope="col">Expiry Date</th>
					</tr>
				</thead>
				<% for (var i = 0; i < creditcard.length; i++) { %>
				<tr>
					<td scope="row" data-title="Card Number"><%= creditcard[i].cardnumber %></td>
					<td scope="row" data-title="Name"><%= creditcard[i].name %></td>
					<td scope="row" data-title="CVV"><%= creditcard[i].cvv %></td>
					<td scope="row" data-title="Expiry Date" date-type="date">
						<%= creditcard[i].expirydate.getDate() %>-<%= creditcard[i].expirydate.getMonth() %>-<%= creditcard[i].expirydate.getFullYear() %>
					</td>
				</tr>
				<% } %>
			</table>
			<a class="btn btn-primary btn-lg" style="background-color: rgb(29, 28, 28); border-color: rgb(29, 28, 28);"
				href="/registerCreditCard" role="button">
				Add Credit Card
			</a>

			<br /><br /><br />
			<h1 class="display-5">Pets Information</h1>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Pet Name</th>
						<th scope="col">Date of Birth</th>
						<th scope="col">Gender</th>
						<th scope="col">Description</th>
						<th scope="col">Special Requirements</th>
						<th scope="col">Personality</th>
					</tr>
				</thead>
				<% for (var i = 0; i < pets.length; i++) { %>
				<tr>
					<td scope="row" data-title="Pet Name"><%= pets[i].name %></td>
					<td scope="row" data-title="Date of Birth" date-type="date">
						<%= pets[i].dateofbirth.getDate() %>-<%=
								pets[i].dateofbirth.getMonth() %>-<%=
								pets[i].dateofbirth.getFullYear() %>
					</td>
					<td scope="row" data-title="Gender"><%= pets[i].gender %></td>
					<td scope="row" data-title="Description"><%= pets[i].description %></td>
					<td scope="row" data-title="Special Requirements">
						<%= pets[i].specialreqs %>
					</td>
					<td scope="row" data-title="Personality"><%= pets[i].personality %></td>
				</tr>
				<% } %>
			</table>

			<br /><br /><br />
			<h1 class="display-5">Reviews</h1>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Care Taker</th>
						<th scope="col">Pet Name</th>
						<th scope="col">Request Date</th>
						<th scope="col">Start Date</th>
						<th scope="col">End Date</th>
						<th scope="col">Status</th>
						<th scope="col">Rating</th>
						<th scope="col">Payment Type</th>
						<th scope="col">Delivery Type</th>
						<th scope="col">Amount Paid</th>
						<th scope="col">Review</th>
					</tr>
				</thead>
				<% for (var i = 0; i < reservations.length; i++) { %>
				<tr>
					<td scope="col" data-title="Care Taker">
						<%= reservations[i].ctusername %>
					</td>
					<td scope="col" data-title="Pet Name">
						<%= reservations[i].petname %>
					</td>
					<td scope="col" data-title="Request Date">
						<%= reservations[i].requestdate.getDate() %>-<%=
								reservations[i].requestdate.getMonth() %>-<%=
								reservations[i].requestdate.getFullYear() %>
					</td>
					<td scope="col" data-title="Start Date">
						<%= reservations[i].startdate.getDate() %>-<%=
								reservations[i].startdate.getMonth() %>-<%=
								reservations[i].startdate.getFullYear() %>
					</td>
					<td scope="col" data-title="End Date">
						<%= reservations[i].enddate.getDate() %>-<%=
								reservations[i].enddate.getMonth() %>-<%=
								reservations[i].enddate.getFullYear() %>
					</td>
					<td scope="col" data-title="Status"><%= reservations[i].status %></td>
					<td scope="col" data-title="Status"><%= reservations[i].rating %></td>
					<td scope="col" data-title="Status">
						<%= reservations[i].paymenttype %>
					</td>
					<td scope="col" data-title="Status">
						<%= reservations[i].deliverytype %>
					</td>
					<td scope="col" data-title="Status">
						<%= reservations[i].amountpaid %>
					</td>
					<td scope="col" data-title="Status"><%= reservations[i].review %></td>
				</tr>
				<% } %>
			</table>
	</main>
</body>

</html>