<!DOCTYPE html>
<html>
<head>
	<%- include('./partials/head'); %>
</head>
<body>
	<header>
		<%- include('./partials/header'); %>
	</header>
	<main>
		<div class="container rounded bg-white pl-5 pr-5 pt-3 pb-3">
			<h1 class="mb-2">Profile</h1> <br />
			<div>
                <b>Username:</b> <%= userData.username %> <br></br>
                <b>Name:</b> <%= userData.name %> <br></br>
                <b>Email:</b> <%= userData.email %> <br></br>
                <b>Join Date:</b> <%= userData.joindate %> <br></br>
                <b>Gender:</b> <%= userData.gender %> <br></br>
                <b>Address:</b> <%= userData.address %> <br></br>
                <b>Date of Birth:</b> <%= userData.dateofbirth %> <br></br>
			</div>
	</main>
</body>

</html>