<!DOCTYPE html>
<html>

<head>
	<%- include('./partials/head'); %>
	<script src="javascripts/searchScript.js">
	</script>
</head>

<body>
	<%- include('./partials/navbar'); %>
	<main>
		<div class="container rounded bg-white pl-5 pr-5 pt-3 pb-3">
			<h1>Caretaker Search</h1>
			<br>
			<div class="d-flex flex-row justify-content-between">
				<form id="form1" action="search" role="form" method="post">
					<div class="d-flex flex-column">
						<div class="d-flex flex-row w-50">
							<span class="m-2">Dates:</span>
							<input type="date" class="form-control" id="start" name="start" required></input>
							<span class="m-2">-</span>
							<input type="date" class="form-control" id="end" name="end" required></input>
						</div>
						<br>
						<div class="form-group d-flex flex-row w-50">
							<label class="m-2" for="category">Category: </label>
							<select id="category" name="category" class="form-control" onfocus='this.size=5;'
								onblur='this.size=1;' onchange='this.size=1; this.blur();'>
								<% for (var i = 0; i < petcategories.length; i++) { %>
								<option value=<%= petcategories[i].category %>>
									<%= petcategories[i].category %>
								</option>
								<% } %>
							</select>
						</div>
						<br>
						<div class="w-50">
							<button type="button" id="toggler" class="btn btn-outline-info btn-sm w-50"
								onclick="toggleOptional()">Add Filters</button>
						</div>
					</div>
					<br>
					<div id="optional" style="display: none">
						<div class="d-flex flex-row justify-content-between">
							<span class="m-2">Username:</span>
							<input type="text" class="form-control" id="username" name="username"
								placeholder="Enter username">
							<span class="m-2">Name:</span>
							<input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
						</div>
						<br>
					</div>
					<div>
						<button type="submit" class="btn btn-primary btn-lg">Search</button>
					</div>
				</form>
			</div>
			<br>
			<span> Found <%= numresults%> results for dates <b><%= start%></b> to <b><%= end%></b> and category
				<b><%= category%></b></span>
			<% for(var i=0; i<data.length; i++) { %>
			<div class="row rounded border p-3 mb-2">
				<div class="col-sm">
					<span> <b><%= data[i].username%></b></span> <br>
					<span><%= data[i].name%></span>
				</div>
				<div class="col-sm" align="left">
					<span> Rating: <%= data[i].avgrating%></span> <br>
				</div>
				<div class="col-sm" align="right">
					<% let url = "caretaker-details?username="+data[i].username+"&category="+category%>
					<form id="form2" action="<%= url %>" role="form" method="post" onsubmit="getDates()">
						<button class="btn btn-primary btn-lg">Check details</button>
					</form>
				</div>
			</div>
			<% } %>
		</div>
	</main>
	<script>
		(function () {
			window.addEventListener('load', setDefaultDates(), false);
		})();
	</script>
</body>

</html>