<!DOCTYPE html>
<html>
	<head>
		<%- include('./partials/head'); %>
	</head>
  <body>
	<%- include('./partials/navbar'); %>
	<main>
		<div class="container rounded bg-white pl-5 pr-5 pt-3 pb-3">
    <h1>App Users</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Password</th>
					<th scope="col">Gender</th>
					<th scope="col">Date of Birth</th>
					<th scope="col">Address</th>
					<th scope="col">Join Date</th>
					<th scope="col">Is Active?</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<data.length; i++) { %>
				<tr>
					<td><%= data[i].username%></td>
					<td><%= data[i].name%></td>
					<td><%= data[i].email%></td>
					<td><%= data[i].password%></td>
					<td><%= data[i].gender%></td>
					<td><%= data[i].dateofbirth%></td>
					<td><%= data[i].address%></td>
					<td><%= data[i].joindate%></td>
					<td><%= data[i].isactive%></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
  </main>
	</body>
</html>
